h2 {
  font-family: 'Protest Strike', sans-serif;
  font-weight: 400;
}

/********************************* HEDER *********************************/

.information-download,
#introduction-download img {
  width: 50%;
  min-width: 300px;
  padding: 1%;
}

#introduction-download a {
  padding: 15px 20px;
  margin: 25px;
  border-radius: 30px;
  transition: background-color 1s;
}

#introduction-download a:hover {
  background-color: var(--color-contrast);
}


/********************************* MAIN ***********************************/

.main-container {
  margin: 100px auto;
  align-content: center;
}

.item {
  width: 45%;
  margin: 10px;
  padding: 5%;
  max-height: 600px;
  background-color: var(--color-background-grey);
  border-radius: 30px;
  overflow: hidden;

}

.item-position-relative {
  position: relative;
  top: 150px;
}

.main-container div:last-child {
  visibility: hidden;
}

.item img {
  margin-top: 60px;
}

.item a {
  margin-top: 5%;
  text-decoration: none;
}