* {
  font-family: 'Noto Sans', sans-serif;
}

nav,
footer {
  padding: 0 10px;
}



/*********************** COLOR & BACKGROUND **********************/

:root {
  --color-secondary-color: #ffffff;
  --color-contrast: #aebbe7;
  --color-primary-color: #23272a;
  --color-background-color: #255ee9;
  --color-background-grey: #F6F6F6;
}

.color-primary {
  color: var(--color-primary-color);
}

.color-secondary {
  color: var(--color-secondary-color);
}

.color-contrast {
  color: var(--color-contrast);
}

.color-blue {
  color: var(--color-background-color);
}

.color-grey {
  color: var(--color-background-grey);
}

.background-color-primary {
  background-color: var(--color-primary-color);
}

.background-color-secondary {
  background-color: var(--color-secondary-color);
}

.background-color-contrast {
  background-color: var(--color-contrast);
}

.background-color-blue {
  background-color: var(--color-background-color);
}

.background-color-grey {
  background-color: var(--color-background-grey);
}

/*********************** BUTTON **************************/

.button {
  text-decoration: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 500;
  box-shadow: var(--color-primary-color) 0 0 2px;
}

.button:hover {
  box-shadow: 1px 0 10px var(--color-primary-color);
  transition: 1s;
}

/*******************************      HEADER   ******************************/

header {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  min-height: 500px;
}

nav {
  padding: 30px 10px;
  height: 20%;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--color-secondary-color);
}

li a:hover {
  text-decoration: underline;
}


/************************* MAIN *****************************************************/


.section-description {
  width: 40%;
  padding-top: 4%;
}

main section {
  padding: 80px 10px;
}

section .small-img {
  width: 60%;
}

main section h2 {
  margin-bottom: 30px;
}

.call-to-action {
  background-image: url(../img/stars.svg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.w {
  width: 100%;
}

/*********** SVG WAVE ***********/

.margin-negative-10 {
  margin: -10px 0;
}

.fill-grey {
  fill: var(--color-background-grey);
}

/************************* FOOTER *****************************************************/


footer {
  padding: 80px 10px;
}

.footer-top {
  padding-bottom: 40px;
  border-bottom: var(--color-contrast) 2px solid;
}

footer li {
  padding: 10px;
  font-weight: 700;
}

footer li a {
  text-decoration: none;
  color: var(--color-secondary-color);
}

#contacts {
  width: 20%;
}

#contacts img {
  width: 20%;
  margin-right: 10px;
}

.contact-icons,
.lenguage {
  max-width: 70%;
  margin-top: 20px;
}

.footer-bottom {
  padding: 30px 0;
}