/*********************** RESET **********************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*********************** COLOR & BACKGROUND **********************/

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0000ff;
  --green: #008000;
  --red: #ff0000;
  --yellow: #ffff00;
  --purple: #800080;
  --orange: #ffa500;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

.orange {
  color: var(--orange);
}

.background-white {
  background-color: var(--white);
}

.background-black {
  background-color: var(--black);
}

.background-blue {
  background-color: var(--blue);
}

.background-green {
  background-color: var(--green);
}

.background-red {
  background-color: var(--red);
}

.background-yellow {
  background-color: var(--yellow);
}

.background-purple {
  background-color: var(--purple);
}

.background-orange {
  background-color: var(--orange);
}


/******************** MARGIN AND PADDING ************************/

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-side-10 {
  padding: 0 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-50 {
  padding: 50px;
}

.padding-60 {
  padding: 60px;
}

.padding-70 {
  padding: 70px;
}

.padding-80 {
  padding: 80px;
}


.margin-5 {
  margin: 5px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-50 {
  margin: 50px;
}

.margin-60 {
  margin: 60px;
}

.margin-70 {
  margin: 70px;
}

.margin-80 {
  margin: 80px;
}

.margin-auto {
  margin: auto;
}



/*********************** CONTAINER  **********************/

.container-1200 {
  max-width: 1200px;
  margin: 0 auto;
}

.container-800 {
  max-width: 800px;
  margin: 0 auto;
}

.width-100x100 {
  width: 100%;
}

.min-height-600 {
  min-height: 600px;
}

/*********************** UL **********************/

.no-list-style {
  list-style: none;
}


/*********************** IMG **********************/

.flip-orizzontally {
  transform: scaleX(-1);
}

.flip-vertically {
  transform: scaleY(-1);
}


/*********************** TEXT **********************/

/** Font-Size **/

.font-size-rem-25 {
  font-size: 0.25rem;
}

.font-size-rem-50 {
  font-size: 0.5rem;
}

.font-size-rem-75 {
  font-size: 0.75rem;
}

.font-size-rem-100 {
  font-size: 1rem;
}

.font-size-rem-125 {
  font-size: 1.25rem;
}

.font-size-rem-150 {
  font-size: 1.5rem;
}

.font-size-rem-175 {
  font-size: 1.75rem;
}

.font-size-rem-200 {
  font-size: 2rem;
}

.font-size-rem-250 {
  font-size: 2.5rem;
}

.font-size-rem-300 {
  font-size: 3rem;
}

.font-size-em-25 {
  font-size: 0.25em;
}

.font-size-em-50 {
  font-size: 0.5em;
}

.font-size-em-75 {
  font-size: 0.75em;
}

.font-size-em-100 {
  font-size: 1em;
}

.font-size-em-125 {
  font-size: 1.25em;
}

.font-size-em-150 {
  font-size: 1.5em;
}

.font-size-em-175 {
  font-size: 1.75em;
}

.font-size-em-200 {
  font-size: 2em;
}

.font-size-em-250 {
  font-size: 2.5em;
}

.font-size-em-300 {
  font-size: 3em;
}

.font-size-em-400 {
  font-size: 4em;
}

.font-size-em-500 {
  font-size: 5em;
}


/**/

.text-align-center {
  text-align: center;
}


/*********************** DISPLAY **********************/

.display-inline-block {
  display: inline-block;
}




/*********************** BUTTON **********************/


.btn {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 20px;
  background-color: #ff0000;
  color: #000000;
}

.btn-big {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: #ff0000;
  color: #000000;
}


.btn:hover,
.btn-big:hover {
  box-shadow: 1px 0 10px black;
  transition: 1s;
}


/*********************** DISPLAY: FLEX **********************/


.display-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}


/**/

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

/**/

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}